<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- Github Follow Button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <style media="screen">
    footer.footer {
      padding-bottom: 2rem;
    }

    .social-media-area {
      margin-right: 0.5rem;
    }

    .copyright-area {
      font-family: 'Raleway', sans-serif;
    }
  </style>
</head>

<footer class="footer">
   <p class="text-center small mb-0">
     <br />
     <span class="social-media-area">
       <a class="github-button" href="https://github.com/jpmakangiras" aria-label="Follow @jpmakangiras on GitHub">Follow @jpmakangiras</a>
     </span>
     <span class="social-media-area">
       <a href="https://twitter.com/jpmakangiras?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @jpmakangiras</a>
       <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     </span>
     <br />
     <span class="copyright-area">
       Copyright &copy; 2017 - {{ 'now' | date: "%Y" }}
     </span>
   </p>
</footer>
