<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta & Title -->
    {% include description.html %}

    <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/media.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rosario" rel="stylesheet">
  </head>

  <body>
    

    <!-- Page Content -->
    <div class="container">
      <h5 class="my-4 text-center text-sm-left title">{{ content }}</h5>
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="https://medium.com/@jpmakangiras" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../assets/img/medium.jpg" alt="medium">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="https://github.com/jpmakangiras" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../assets/img/github.jpg" alt="github">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="https://www.kompasiana.com/jpmakangiras" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../assets/img/kompasiana.jpg" alt="kompasiana">
          </a>
        </div>
      </div>
    </div>

    <!-- Disqus -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div id="disqus_thread"></div>
            <script>
                (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = 'https://jpmakangiras.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}

  </body>

</html>
